page-home {

  .l_panel_login{
    margin-top: 30%;
  }

  .l_adjust{
    margin-top: -35px;
  }

  .l_input{
    background-color: white !important;
  }

  .l_footer_list{
    width: 50%;
    float: left;
  }

  .l_footer_list_item{
    color: ghostwhite;
    font-size: 12px;
    text-align: center;
  }

  

}
